.chatInput {
    border-radius: 20px;
}

.select {
    font-size: 10px;
    position: absolute;
    margin-top: -1167px;
    margin-left: 107px;
}

.lang {
    font-size: 20px;
    color: white;
}

.chatpInput > form > select {
    font-size: 20px;
    border-radius: 10px;
    outline:none;
    position: fixed;

}
.chatInput > form {
    position: relative;
    display: flex;
    justify-content: center;
}

.chatInput > form > input {
    position: fixed;
    bottom: 30px;
    width: 60%;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 20px;
}

#root > div > div.app_body > div.chat > div.chatInput > form > button {
    display: none !important;

}

audio {
    font-size: 10px;
    zoom: .6;
    padding-top: 20px;
}