.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#a1 {
    background-color: green;
    color: red;
    transition: 0.8s;
}

#a1:hover {
    background-color: white;
    color: black;
}

#a2 {
    background-color: red;
    color:gold;
    transition: 0.8s;
}
#a2:hover {
    background-color:yellow;
    color: red
}

#a3 {
    background-color: blue;
    color: white;
    transition: 0.8s;
}
#a3:hover {
    background-color: white;
    color:red;
}

#a4 {
    background-color: gold;
    color: red;
    transition: 0.8s;
}

#a4:hover {
    background-color: white;
    color: blue;
}

#a5{
    background-color: #0055A4;
    color: #EF4135;
    transition: 0.8s;
}

#a5:hover {
    background-color: white;
    color: #0055a4;
}

#a6, #a18 {
    background-color:#FF9933;
    color: #138808;
    transition: 0.8s;
}

#a6:hover, #a18:hover {
    background-color: white;
    color: #FF9933;
}

#a7 {
    background-color:#008c45;
    color: #f4f5f0;
    transition: 0.8s;
}
#a7:hover{
    background-color:#cd212a;
    color: #f4f5f0;
}

#a8{
    background-color: red;
    color: white;
    transition: 0.8s;
}
#a8:hover{
    background-color: white;
    color:red
}

#a9{
    background-color: #CD2E3A;
    color:#0047A0;
    transition: 0.8s;
}
#a9:hover{
    background-color: black;
    color: white;
}

#a10{
    background-color: #ffff00;
    color:#003399;
    transition: 0.8s;
}
#a10:hover{
    background-color: #ff0000;
    color: #006600;
}

#a11{
    background-color:blue;
    color:#da291c;
    transition: 0.8;
}
#a11:hover{
    background-color:#da291c;
    color:white;
}

#a12{
    background-color:#aa151b;
    color:#f1bf00;
    transition: 0.8;
}
#a12:hover{
    background-color:#f1bf00;
    color: #aa151b;
}

#a13{
    background-color:#0038B8;
    color:white;
    transition: 0.8;
}
#a13:hover{
    background-color:white;
    color: #0038B8;
}

#a14{
    background-color:#FFCE00;
    color:black;
    transition: 0.8;
}
#a14:hover{
    background-color:#DD0000;
    color: black;
}

#a15{
    background-color:white;
    color:#FF0000;
    transition: 0.8;
}
#a15:hover{
    background-color:#FF0000;
    color: white;
}

#a16{
    background-color:#A51931;
    color:#2D2A4A;
    transition: 0.8;
}
#a16:hover{
    background-color:#A51931;
    color: #F4F5F8;
}

#a17{
    background-color:#DA251D;
    color:#FFCD00;
    transition: 0.8;
}
#a17:hover{
    background-color:#FFCD00;
    color: #DA251D;
}