@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Open+Sans&display=swap');

.message, .me{
    display: flex;
    /* align-items: center; */
    padding: 20px;
    overflow: hidden;
    font-family:'Balsamiq Sans';
    font-size: 20px;
}

.me {
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 10px;
}
.message > img {
    margin-top: 20px;
}

.time_sender {
    margin-left: -60px;
    font-size: 15px;
    font-family: 'open sans';
}

.message > img, .me > img {
    height: 50px;
    width: 50px;
    object-fit: contain;
    border-radius: 30px;
}



.same, .translate {
    background-color: #00ffff61;
    border-radius: 0 15px 15px 15px;
    padding: 5px;
    box-shadow: 3px -4px 20px 2px #00000063;;
}

.message_info {
    padding-left: 10px;
    
}

.same {
    /* margin-top: 10px; */
}

.msg {
    /* padding: 6px 0px 12px 0px; */
}

.me .msg {
    background-color: #3232fdab;
    border-radius: 10px 10px 0 10px;
    color: white;
    text-align: center;
    padding: 5px;
    box-shadow: -2px -5px 17px 0px #00000059;
    margin-top: 5px;
    text-align: right;
}

.message_timestamp {
    color: gray;
    font-weight: 300;
    font-size: 13px;
    border-radius: 30px;

}

.me .message_timestamp{
    /* margin-left: 50px */
    margin-top: -21px;
    height:min-content
}