.message {
    display: flex;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}

.message > img {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.translate {
    background-color: #00ffff61;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 3px -4px 20px 2px #0000008a;
}

.message_info {
    padding-left: 10px;
    
}

.msg {
    padding: 0 10px 10px 0;
}

.message_timestamp {
    color: gray;
    font-weight: 300;
    font-size: 13px;
    border-radius: 30px;
}