.sidebar {
    /* background-color: var(--slack-color); */
    /* background-color: #18399e; */
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(170,49,132,1) 16%, rgba(253,29,29,1) 50%, rgba(252,147,61,1) 90%, rgba(252,176,69,1) 100%);

    flex: 0.3;
    border-top: 1px solid #840284;
    max-width: 260px;
    color: white;
    box-shadow: inset -4px -2px 20px 10px #6d80ef87;
}

.sidebar > hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #49274b
}

.sidebar_header {
    display: flex;
    border-bottom: 1px solid #49274b;
    padding-bottom: 10px;
    padding: 13px;
}

.sidebar_info {
    flex: 1;
}

.sidebar_info > h2 {
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 5px;
}

.sidebar_info > h3 {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
}

.sidebar_info > h3 > .MuiSvgIcon-root {
    font-size: 14px;
    margin-top: 1px;
    margin-right: 2px;
    color: green;
}

.sidebar_header > .MuiSvgIcon-root {
    padding: 8px;
    color: #49274b;
    font-size: 18px;
    background-color: white;
    border-radius: 999px;
}

.langSelect {
    flex: 0.4;
    background-color: #5836bb;
    text-align: center;
    display: flex;
    padding: 0 50px;
    color: rgb(48, 150, 184);
    /* border: 1px gray solid; */
    border-radius: 6px;
    text-align:center;
    padding: 10px;
    
    justify-content: center;
    align-items: center;

    transition: 0.3s;

    cursor: pointer;
    
}
.langSelect:hover {
    background-color: #3e8e41;
    color: white;
}

/*     
    .header_search > input {
        background-color: transparent;
        border: none;
        text-align: center;
        min-width: 35vw;
    }
} */